<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liuyang.testdatambp.modules.actor.generator.mapper.ActorMapper">

    <resultMap id="BaseResultMap" type="liuyang.testdatambp.modules.actor.generator.entity.Actor">
            <id property="actorId" column="actor_id" jdbcType="SMALLINT"/>
            <result property="firstName" column="first_name" jdbcType="VARCHAR"/>
            <result property="lastName" column="last_name" jdbcType="VARCHAR"/>
            <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        actor_id,first_name,last_name,
        last_update
    </sql>

    <!-- IPage<Actor> selectPageActorVOCustomize(@Param("page") IPage<?> page, String lastName); -->
    <!--
        可以设置类型别名 application.yml mybatis-plus.type-aliases-package:
        设置好之后就可以使用类名，且不区分大小写。
        20220407 实测 ok
    -->
    <select id="selectPageActorVOCustomize"
            resultType="liuyang.testdatambp.modules.actor.generator.entity.Actor">
        select * from actor where last_name like concat('%', #{lastName}, '%')
    </select>
    <!-- 获取自增主键值 -->
    <insert id="insertSelective" useGeneratedKeys="true" keyColumn="actor_id">
        insert into actor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actorId != null">actor_id,</if>
            <if test="firstName != null">first_name,</if>
            <if test="lastName != null">last_name,</if>
            <if test="lastUpdate != null">last_update,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actorId != null">#{actorId,jdbcType=SMALLINT},</if>
            <if test="firstName != null">#{firstName,jdbcType=VARCHAR},</if>
            <if test="lastName != null">#{lastName,jdbcType=VARCHAR},</if>
            <if test="lastUpdate != null">#{lastUpdate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <delete id="deleteByActorId">
        delete
        from actor
        where actor_id = #{actorId,jdbcType=NUMERIC}
    </delete>
    <!-- 批量删除 20220614 add -->
    <delete id="deleteInBatch">
        delete
        from actor
        where actor_id in
        <foreach collection="actorIds" item="actorId" open="(" close=")" separator=",">
            #{actorId}
        </foreach>
    </delete>
    <update id="updateFirstNameByActorId">
        update actor
        set first_name = #{firstName,jdbcType=VARCHAR}
        where actor_id = #{actorId,jdbcType=NUMERIC}
    </update>
    <!-- 演示一下like的标准推荐写法 20220614 add-->
    <select id="selectByLastNameLike" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from actor
        <!-- 方案1 20220614 ok-->
        <where>
            <if test="lastName != null and lastName != ''">
                <bind name="lastNameLike" value="'%' + lastName + '%'"></bind>
                last_name like #{lastNameLike,jdbcType=VARCHAR}
            </if>
        </where>
        <!-- 方案2 20220614 ok-->
        <!-- where last_name like "%"#{lastName,jdbcType=VARCHAR}"%"-->
        <!-- 方案3 20220614 ok-->
        <!-- where last_name like concat('%', #{lastName,jdbcType=VARCHAR}, '%') -->
    </select>
    <select id="selectAllByLastUpdateBetween" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from actor
        where
        last_update between #{beginLastUpdate} and #{endLastUpdate}
    </select>
    <select id="selectAllOrderByLastName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from actor
        order by lastName
    </select>

    <!-- 可以参考官方文档的typeAlias一节 -->
    <!-- int string list arraylist map hashmap ... 基本全都小写即可 -->
    <select id="countByActorId" resultType="java.lang.Integer"><!-- 20220614 ok -->
    <!--<select id="countByActorId" resultType="Integer">--><!-- 20220614 ok -->
    <!--<select id="countByActorId" resultType="integer">--><!-- 20220614 ok -->
    <!--<select id="countByActorId" resultType="Int">--><!-- 20220614 ok -->
    <!--<select id="countByActorId" resultType="int">--><!-- 20220614 ok -->
    <!--<select id="countByActorId" resultType="string">--><!-- 20220614 failure -->
        select count(actor_id) from actor
    </select>

    <!-- 投影 -->
    <select id="selectProjection" resultType="java.util.Map">
        select actor_id, last_update from actor
    </select>

    <!-- 投影 单条 -->
    <select id="selectProjectionById" resultType="map">
        select actor_id, last_update from actor where actor_id = #{actorId}
    </select>

    <!-- 投影 -->
    <select id="selectProjectionMapKey" resultType="java.util.Map">
        select actor_id, last_update from actor
    </select>

    <!-- 动态指定表名称 -->
    <select id="selectByTableName" resultType="java.util.Map">
        select * from ${tableName}
    </select>

</mapper>
